<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">

    <%# 3秒後に、users/sigh_inのページに自動的に移る  %>
    <meta http-equiv="refresh" content=" 3; url= users/sign_in">

    <title> Sales Note </title>

    <link rel="stylesheet"  href="/openings.scss" type="text/css">


  </head>

  <body>

    <div class='text'>
      <div class='content'></div>
      <div class='dash'></div>
    </div>

    <script type="text/javascript" src="/openings.js"></script>
  </body>
</html>



