<body id="wrapper">

  <div class = window>
  <%= render partial:'posts/side_bar' %>
  <%= render partial:'posts/main_view' %>
  <%= render partial:'new_sales_condition_registor' %>
  




  </div>
  <footer>
    <small>&copy; 2020 Sales Note </small>
  </footer>

  

</body>