<body>
  <div class = main>
    <div class= sales_forcast>
      <h1>
        <%= image_tag 'rogo.png', class: 'logo'%>
      </h1>
      <h2 class = "wf-racing">Sales Note</h2>
      
      <div class = sales-total>
        <p> <font size="6">2020年</font> 売上/利益</p> 
        <p>US$13M/US$1.2M</p>
        <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2021年</font> 売上/利益</p> 
        <p>US$15M/US$1.4M</p>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2022年</font> 売上/利益</p> 
        <p>US$19M/US$2.0M</p>
      </div>
      
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>


      <button type="button" class="btn_new" onclick="location.href='/posts/new'">新規作成</button>

    </div>


    <div class= project_list>
      <% @posts.each do |post| %>
        <div class="post">
          <div class="post-date">
            投稿日時：<%= post.created_at %>
          </div>
          <div class="post-content">
            <%= post.content %>
          </div>
        </div>
      <% end %>

      
    </div>
  <div>
</body>
