<body>
  <div class=side>

    <div class=sales_person>
      <div class = sales_name>
        <%= current_user.name %> さん 
        <button type="button" class="btn_user_edit" onclick="location.href='/users/edit'"><i class="fas fa-cog"></i>編集</button>
      </div>
      
    </div>
    
      <div class=customer_list>
        <div class = list_box>
          <b><font size="6"><p class = customer_name>顧客名</font></b><br>チェックボックス：ソート</p>
            <% @customers.each do |hoge| %>
              <p>
              <%= check_box_tag :sample %>
              <%= label_tag  %>
              <%= hoge.customer_name %> 
              </p>
            <% end %>

        </div>
      </div>
    

  </div>
</body>



