<body>
  <div class=side>

    <div class=sales_person>
      <div class = sales_name>
        <b>名前</b>
        <p>上田 徹  <i class="fas fa-cog"></i></p>
      </div>

      
    </div>
    
    <div class=customer_list>
      <div class = list_box>
        <p class = customer_name>顧客名</p>
        <p>株式会社A社</p>
        <p>B株式会社</p>
      </div>
    </div>

  </div>
</body>



