
<body id="wrapper">

<%# <%= devise_error_messages! %>  

  <div class = window>
  <%= render partial:'side_bar' %>
  <%= render partial:'main_view' %>
  </div>
  <footer>
    <small>&copy; 2020 Sales Note </small>
  </footer>

</body>



