<body id="wrapper">

  <div class = window>
  <%= render partial:'side_newbox' %>
  <%= render partial:'main_newbox' %>


  </div>
  <footer>
    <small>&copy; 2020 Sales Note </small>
  </footer>

  

</body>