/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";


header {
  background-color: #427559;
  height: 20px;
  width: 100%;
  color: white ;
  font-size: 20px;

}



#wrapper {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  clear:both;
}

footer {
  background-color: #427559;
  height:40px;
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;            /* ヘッダーの固定 */
  bottom: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
}

.side {
  width: 15%;
  height: 100vh;
}

.main {
  width: 85%;
  height: 100vh;
}

.logo {
  width: 140px;
  height: 140px;
}

.window {
  display: flex;
   
}


.sales_person {
  height: 150px;
  width: 100%;
  background-color: rgb(126, 126, 126);
  padding: 20px;
  
}

.sales_image {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-position: center;
  overflow: hidden;
}


.sales_name {
  font-size: 30px;
  color: #eff3f0;
}

.customer_list {
  height: 100%;
  background-color: #31a531;
  width: 100%;
  padding: 20px;
  color:#eafeee;
  font-size: 20px;

}

.project_list {
  height: 100%;
  width: 100%;
  padding: 20px;
  color:#3f3f3f;
  font-size: 20px;

}

.btn_new {
  height: 40px;
  width:140px;
  background-color:#31a531;
  color: whitesmoke;
  cursor: hand;
  font-size: 20px;
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 25px);
  right: 30px;
}

.btn_delete {
  height: 40px;
  width:140px;
  background-color:#31a531;
  color: whitesmoke;
  cursor: hand;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0 0 0;
  top: calc(50% - 25px);
  right: 30px;
}
.btn_delete:hover {
	opacity:0.6;
	}
.btn_delete:active {
  -webkit-transform: translate(0,2px);
  -moz-transform: translate(0,2px);
  transform: translate(0,2px);
  border-bottom:none;
  }


.sales_forcast {
  height: 150px;
  width: 100%;
  background-color:#E5E5E5;
  font-size: 70px;
  color: #427559;
  display: flex;
  vertical-align: middle;
  position: relative;
}

.wf-racing {
  font-family: 'Racing Sans One', cursive;
  margin: 40px 40px 0px 0px;
  font-size: 70px;
}

.sales-total {
  color: #427559;
  font-size: 20px;
  font-weight: bold; 
  margin: 40px;

}

.new-project {
  font-style: italic;
  color: greenyellow;
  font-size: 20px;
}

.project_list {
  height: calc(100% - 190px);
  width: 100%;
  padding: 20px;
}

.header__right--btn{
  font-size: 20px;
  top: 50px;
  margin: 60px 20px 0px 20px;
}

.fa-search {
  color:gray;
  font-size: 25px;
  margin: 2px 0 0 5px;
  position: absolute; top:1px; left:1px; 
}

.input-group-sm {
  height: 30px;
  width: 250px;
  vertical-align: middle;
  display: flex;
  vertical-align: middle;
  position: relative;
  margin: 100px 30px 0 0;
}

.input-group-append {
  height: 30px;
  width: 30px;
  position: relative;

}

.btn-navbar{
  height: 25px;
  width: 25px;
  position: absolute; top:1px; left:1px;
}

.chart_box {
  display: flex;
}

#body_login { 
  background-image:  url("note_pic.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  height: 1400px;
  
}

.login_box {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 200px auto;
  background: rgba(22,22,22, 0.5);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
}

.notifications {
  color: white;
  text-align: center;  
  }
  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: rgb(255, 81, 0);
  }