/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  background-color: teal;
  height: 20px;
  width: 100%;
  color: white ;
  font-size: 20px;

}



#wrapper {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  clear:both;
}

footer {
  background-color: #4DADA1;
  height:40px;
  width: 100%;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;            /* ヘッダーの固定 */
  bottom: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
}

.side {
  width: 15%;
  height: 100vh;
}

.main {
  width: 85%;
  height: 100vh;
}

.logo {
  width: 140px;
  height: 140px;
}

.window {
  display: flex;
   
}


.sales_person {
  height: 150px;
  width: 100%;
  background-color: #83BAD6;
  padding: 20px;
  
}

.sales_name {
  font-size: 30px;
  color: azure;
}

.customer_list {
  height: 100%;
  background-color: teal;
  width: 100%;
  padding: 20px;
  color: azure;

}

.btn_new {
  height: 40px;
  width:140px;
  background-color:teal;
  color: whitesmoke;
  cursor: hand;
  font-size: 20px;

  border-radius: 5px;
  box-shadow: 0 10px 0 #007070;
  position: absolute;
  top: calc(50% - 30px);
  right: 20px;

}

.btn_new:active {
  box-shadow: 0 5px 0 #007070;
  margin-top: 5px;
}

.sales_forcast {
  height: 150px;
  width: 100%;
  background-color:#E5E5E5;
  font-size: 70px;
  color: green;
  display: flex;
  vertical-align: middle;
  position: relative;
}

.wf-racing {
  font-family: 'Racing Sans One', cursive;
  margin: 40px 40px 0px 0px;
  font-size: 70px;
}

.sales-total {
  color: green;
  font-size: 20px;
  font-weight: bold; 
  margin: 40px;

}

.new-project {
  font-style: italic;
  color: greenyellow;
  font-size: 20px;
}

.project_list {
  height: calc(100% - 190px);
  width: 100%;
  padding: 20px;
}



.fa-search {
  color:gray;
  font-size: 20px;
}

.input-group-sm {
  height: 40px;
  vertical-align: middle;
}

.chart_box {
  display: flex;
}

